---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Linkdind from "../components/Icons/Linkdind.astro";
import Github from "../components/Icons/Github.astro";
import SocialInfo from "../components/SocialInfo.astro";
import Mail from "../components/Icons/Mail.astro";
import Experience from "../components/Experience.astro";
import Container from "../components/Container.astro";
import Study from "../components/Icons/Study.astro";
import Code from "../components/Icons/Code.astro";
import Projects from "../components/Projects.astro";
import About from "../components/Icons/About.astro";
import Technologies from "../components/Technologies.astro";
import Tech from "../components/Icons/Tech.astro";
---

<Layout title="Andres Portfolio">
  <main class="px-5">
    <Container class="px-5 max-w-screen-md mx-auto py-44 pb-12">
      <h1
        class="text-white text-5xl lg:text-5xl font-bold flex justify-center flex-row gap-x-2 pb-10"
      >
        Hi! I'm Andrés!!
        <a
          class="flex jus tify-center items-center"
          href="https://www.linkedin.com/in/am-dussanb/"
          target="_blank"
          rel="noopener"
        >
          <Badge> Open to work </Badge>
        </a>
      </h1>
      <h2 class="text-xl opacity-80">
        I am a Systems and Computer Engineering student from Colombia with
        practical experience as a backend developer, specializing in Java,
        Golang, and Node.js (JavaScript & TypeScript). I have a strong passion
        for technology, constantly exploring new tools and innovations like
        No-Code and Low-Code platforms. +3 Years of experience in backend
        software development, working with Java (Maven, Gradle, Spring Boot,
        Hibernate, JPA), Golang (Gin, Gorm, Mux, Fiber), and Node.js (Express,
        Fastify, Sequelize)
      </h2>
      <nav class="flex gap-x-2 pt-2">
        <SocialInfo href="https://www.linkedin.com/in/am-dussanb/">
          <Linkdind class="size-6" />
          LinkedIn
        </SocialInfo>
        <SocialInfo href="https://www.github.com/andres-shadow/">
          <Github class="size-6" />
          Github
        </SocialInfo>
        <SocialInfo href="mailto:andremadussan@gmail.com">
          <Mail class="size-6" />
          andremadussan@gmail.com
        </SocialInfo>
      </nav>
    </Container>

    <Container id="about">
      <h2 class="text-3xl font-semi-bold text-white mb-10 flex gap-x-2 pt-2">
        <About class="size-9" />
        About Me
      </h2>
      <p class="text-lg opacity-80">
        I am a passionate Systems and Computer Engineering student at
        Universidad del Quindío, currently in my 10th semester. Since 2021, I've
        been deeply involved in backend development, creating solutions through
        university projects and beyond. I am eager to gain my first professional
        experience in the IT field, regardless of the sector. My primary goal is
        to continue learning and growing, applying my skills while embracing new
        challenges and opportunities. My expertise spans across Java, Python,
        Golang, and Node.js (JavaScript & TypeScript), with foundational
        knowledge in C# (.Net).<br /><br />

        Recently, I have expanded my skills into frontend development, focusing
        on modern frameworks like React, Next.js, and Astro, alongside styling
        tools such as TailwindCSS and Bootstrap.<br /><br />

        I am fluent in English (B2), with intermediate proficiency in French
        (B1) and a basic understanding of Colombian Sign Language (A1).<br /><br
        />
      </p>
    </Container>

    <Container id="technologies">
      <h2 class="text-3xl font-semi-bold text-white mb-10 flex gap-x-2 pt-5">
        <Tech class="size-9" />
        Technologies
      </h2>
      <p class="opacity-80">
        Here i list the technologies i have worked and i am familiar with, i am
        always learning new technologies and tools to improve my skills so i
        hope to keep this list growing and being updated.
      </p>
      <Technologies />
    </Container>

    <Container id="experience">
      <h2 class="text-3xl font-semi-bold text-white mb-10 flex gap-x-2 pt-2">
        <Study class="size-9" />
        Experience
      </h2>
      <p class="opacity-80 pb-6">
        These are the fields where i have worked and i've gained experience
        during my career.
      </p>
      <Experience />
    </Container>

    <Container id="projects">
      <h2 class="text-3xl font-semi-bold text-white mb-10 flex gap-x-2 pt-4">
        <Code class="size-9" />
        Projects
      </h2>
      <p class="opacity-80 pb-6">
        Over here i list the most complete projects i have created and worked on
        as a college project or personal improvement. I allways try to implement
        the best practices and the most modern technologies to make them as
        efficient as possible, i hope you like them.
      </p>
      <Projects />
    </Container>
  </main>
</Layout>
