---
const { title, description, date } = Astro.props;
---

<div class="max-w-sm p-6 border rounded-lg shadow bg-gray-900 border-gray-800">
  <h5 class="mb-2 text-2xl font-semibold tracking-tight text-white-200 opacity-70">
    {title}
  </h5>

  <p class="pb-2 opacity-50">
    {date}
  </p>

  <p class="mb-3 font-normal text-gray-400">
    {description}
  </p>
</div>
