<header class="flex justify-between items-center py-3 w-full xl:w-[1120px] mx-auto">
  <img
    class="rounded-full h-16 w-16"
    src="https://avatars.githubusercontent.com/u/106280663?v=4"
    alt="andres photo"
  />

  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="/">Home</a>
    <a href="#about">About</a>
    <a href="#experience">Experience</a>
    <a href="#projects">Projects</a>
    <a href="#contact">Contact</a>
  </nav>
</header>
