---
import Badge from "./Badge.astro";
import Github from "./Icons/Github.astro";

const PROJECTS = [
  {
    title: "Microservices implementation project",
    description:
      "Developed a microservices project with 7 APIS (Authenticacion with JWT API, Logs Manager API, User accounts Manager API, Health Monitor API, Gateway API, Notications API" +
      " implementing Goland, Python, Javascript and NATS as message broker. The project was deployed in a Docker-Compose environment. and tested with cucumber.js (automation tests setted in Jenkins via docker).",
    link: "https://github.com/Andres-Shadow/Microservices",
    tags: [
      "Golang",
      "Javascript",
      "Typescript",
      "Python",
      "NATS",
      "Docker",
      "Cucumber.js",
      "Jenkins",
    ],
  },
  {
    title: "Spring boot shopping cart",
    description:
      "Fullstack tecnical test for a job application. Developed a shopping cart with Spring Boot, Manven, Lombok for backend and Angular with Typescript for frontend." +
      ' The project implemented a Json file as database so package "logic" contains an manual developed semi-ORM',
    link: "https://github.com/Andres-Shadow/shopping-cart",
    tags: ["Java", "Spring Boot", "JPA", "Maven", "Angular", "Lombok"],
  },
  {
    title: "To Do Task Project",
    description:
      "Developed a simple To Do Task project with React, Typescript and Tailwind CSS. The project was deployed in Github Pages.",
    link: "https://github.com/Andres-Shadow/to-do-task-react",
    tags: ["React", "Typescript", "Tailwind CSS"],
  },
  {
    title: "Random Image Server",
    description:
      "Developed a simple server that makes a recursive search into a folder and returns three random images that are displayed in a simple HTML page with Bootstrap.",
    link: "https://github.com/Andres-Shadow/Random-Image-Golang-App",
    tags: ["Golang", "HTML", "Bootstrap"],
  },
];
---

<div class="grid gap-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
  {PROJECTS.map((project) => (
    <div class="max-w-sm p-6 border rounded-lg shadow bg-gray-900 border-gray-800">
      <h5 class="mb-2 text-2xl font-semibold tracking-tight text-yellow-200">
        {project.title}
      </h5>

      <p class="mb-3 font-normal text-gray-400">
        {project.description}
      </p>

      <a
        href={project.link}
        class="inline-flex items-center font-medium text-blue-400 hover:text-blue-300 transition-colors duration-200"
      >
        Github Repo
      </a>

      <ul class="flex flex-wrap gap-2 mb-2 pt-3">
        {project.tags.map((tag) => (
          <Badge class="text-gray-900 bg-green-400 px-2 py-1 rounded-lg font-semibold">
            {tag}
          </Badge>
        ))}
      </ul>
    </div>
  ))}
</div>

