---
const PROJECTS = [
  {
    title: "Microservices implementation project",
    description:
      "Developed a microservices project with 7 APIS (Authenticacion with JWT API, Logs Manager API, User accounts Manager API, Health Monitor API, Gateway API, Notications API" +
      " implementing Goland, Python, Javascript and NATS as message broker. The project was deployed in a Docker-Compose environment. and tested with cucumber.js (automation tests setted in Jenkins via docker).",
    link: "https://github.com/Andres-Shadow/Microservices",
    tags: [
      "Golang",
      "Javascript",
      "Typescript",
      "Python",
      "NATS",
      "Docker",
      "Cucumber.js",
      "Jenkins",
    ],
  },
  {
    title: "Spring boot shopping cart",
    description:
      "Fullstack tecnical test for a job application. Developed a shopping cart with Spring Boot, Manven, Lombok for backend and Angular with Typescript for frontend." +
      ' The project implemented a Json file as database so package "logic" contains an manual developed semi-ORM',
    link: "https://github.com/Andres-Shadow/shopping-cart",
    tags: ["Java", "Spring Boot", "JPA", "Maven", "Angular", "Lombok"],
  },
  {
    title: "To DO Task Project",
    description:
      "Developed a simple To Do Task project with React, Typescript and Tailwind CSS. The project was deployed in Github Pages.",
    link: "https://github.com/Andres-Shadow/to-do-task-react",
    tags: ["React", "Typescript", "Tailwind CSS"],
  },
  {
    title: "Random Image Server",
    description: "Developed a simple server that makes a recursive search into a folder and returns three random images that are displayed in a simple HTML page with Bootstrap.",
    link: "https://github.com/Andres-Shadow/Random-Image-Golang-App",
    tags: ["Golang", "HTML", "Bootstrap"],
  }
];
---

{
  PROJECTS.map((project) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-200 mb-2">
        {project.title}
      </h3>
      <p class="text-lg mb-4">{project.description}</p>
      <a href={project.link} class="text-yellow-100 ">
        Github repo
      </a>
      <ul class="flex gap-x-2 flex-row mb-2 pt-3">
        {project.tags.map((tag) => (
          <span class="flex gap-x-2 rounded-full border text-sm py-2 px-1">
            <li>{tag}</li>
          </span>
        ))}
      </ul>
    </article>
  ))
}
